.hero {
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(./assets/floral.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: 'Nothing You Could Do', serif;
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}
.hero__text-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.hero__title,
.hero__subtitle,
.hero__p {
  margin: 0;
}
.hero__title {
  font-size: 2.8em;
}
.hero__subtitle {
  font-size: 2em;
  margin-bottom: 2.75rem;
}
.hero__small {
  position: absolute;
  bottom: 5%;
}
@media all and (min-width: 768px) {
  .hero {
    font-size: 2.5rem;
  }
}